In [1]:
from absenteeism_module import *

In [2]:
pd.read_csv('Absenteeism_new_data.csv').head()
# This has been formatted the same way as the training data
# This is just to load and display the data, it's not fed to the model via this, but later in the function call

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets
0,22,27,01/06/2018,179,26,30,237.656,19,3,0,0
1,10,7,04/06/2018,361,52,28,237.656,27,1,1,4
2,14,23,06/06/2018,155,12,34,237.656,25,1,2,0
3,17,25,08/06/2018,179,22,40,237.656,22,2,2,0
4,14,10,08/06/2018,155,12,34,237.656,25,1,2,0

In [3]:
model = absenteeism_model('model', 'scaler')
# absenteeism_model is the name of the class created
# to proceed, we must create an instance of this class
# we created an instance of the "absenteeism_model" class with arguments "model" and "scaler", 
# both referring to the files in the folder

# this instance object is now in a variable called "model"

absenteeism_model is the name of the class created
to proceed, we must create an instance of this class

Then by definition, we are required to insert two arguments.

One will be the model file containing a fine-tuned finalized version of the logistic regression model.

The latter is the traditional statistical technique we've used to obtain prediction values.

The second argument refers to the other file called scaler. Its function is to scale the values from the absenteeism new data as was done when the machine learning algorithm was trained.

In other words, it contains the statistical parameters needed to adjust the magnitude of all numbers we have in this data set.

This instance object is now in the variable called model.

At this stage, we can call the methods from the class.

What is their purpose?
There are two important methods that have been prepared.
The first one, load_and_clean_data helps us load the data

In [6]:
model.load_and_clean_data('Absenteeism_new_data.csv')
# load_and_clean_data will preprocess the entire dataset we provided

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets
0,0,0.0,0,1,6,179,30,19,1,0,0
1,1,0.0,0,0,6,361,28,27,0,1,4
2,0,0.0,0,1,6,155,34,25,0,2,0
3,0,0.0,0,1,6,179,40,22,1,2,0
4,1,0.0,0,0,6,155,34,25,0,2,0

In [7]:
#new_data.columns.values
#model.load_and_clean_data()
#model.predicted_probability()

In [8]:
model.predicted_outputs().head()
# Now we can finally call the predicted outputs method.
# Its role is to feed the cleaned data into the model and deliver the output we discussed.
# The predicted probability that an individual will be absent from work.

,Reason 1,Reason 2,Reason 3,Reason 4,Month Value,Transportation Expense,Age,Body Mass Index,Education,Children,Pets,Probability,Prediction
0,0,0.0,0,1,6,179,30,19,1,0,0,0.127111,0
1,1,0.0,0,0,6,361,28,27,0,1,4,0.607418,1
2,0,0.0,0,1,6,155,34,25,0,2,0,0.265902,0
3,0,0.0,0,1,6,179,40,22,1,2,0,0.208274,0
4,1,0.0,0,0,6,155,34,25,0,2,0,0.387695,0

Yes, we just obtained a table which is identical to the data set we had at the end of the pre-processing part of this exercise with two new columns attached to the far right.

The probability column contains float values only.
These values represent the probability that a given individual is expected to be absent from work for more than three hours, or as we call it, excessively.

The other column called prediction is like a continuation of the probability column.

In it, we see the value of one if the probability obtained was 50% or higher, and zero if it wasn't.

## Exporting the Obtained Data Set as a *.csv

To proceed with the next step towards the solution of our exercise, you’ll have to export the obtained data set as a *.csv file.

To do that, use the same Notebook file you’ve used in this section so far, and execute the following line of code.

In [13]:
model.predicted_outputs().to_csv("Absenteeism_predictions.csv", index = False)

In the next lecture, we will load the data from this *.csv file and will analyse it in Tableau to obtain beautiful visualizations.

In [15]:
# using Tableau Public